@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lora&family=Montserrat&display=swap");

:root {
  --font--Crimson: "Crimson Pro", serif;
  --font--Lora: "Lora", serif;
  --font--Montserrat: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background-color: #181719;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  position: relative;

  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin: 20px 0 100px 0;
  padding: 20px;

  /* cursor: pointer; */
}

.container__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--font--Crimson);
  font-size: 14px;
  width: 200px;
  padding: 20px;
  border: 1px solid #fff;

  text-align: center;
}

.logo a {
  color: #ffffff;
}

.nav__pc {
  width: 600px;
}

.nav__pc-list {
  font-family: var(--font--Montserrat);
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 18px;
  font-weight: 500;
}

.nav__pc-link {
  color: #ffffff;
}

.open,
.close {
  display: none;
}

.home {
  font-weight: 700;
}

.container__interior {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.healing {
  font-family: var(--font--Lora);
  font-size: 48px;
  color: #ffffff;
  font-weight: 400;

  margin: 0;
}

.text {
  font-family: var(--font--Montserrat);
  color: #ffffff;
}

.text p {
  font-weight: 300;
  font-size: 24px;
}

.read-more {
  font-size: 18px;
  font-weight: 600;

  margin-top: 40px;

  display: flex;
  align-items: center;
}

.icon {
  margin: 5px 0 0 20px;
}

.img__interior {
  width: 700px;
}

.img__interior img {
  width: 100%;
}
.rectangle {
  height: 190px;
  width: 350px;

  background: #181719;

  position: absolute;
  right: 2%;
  top: 85%;
}

.rectangle__header {
  width: 100%;

  padding: 10px;
}

.container__introduction {
  display: flex;
  align-items: center;
}

.img__rectangle {
  height: 50px;
  width: 50px;

  margin-right: 20px;
}

.img__rectangle img {
  width: 100%;
  border-radius: 50%;
}

.introduce {
  font-family: var(--font--Montserrat);
  font-weight: 500;
}

.name {
  font-size: 14px;
}

.role {
  font-size: 12px;
}

.rectangle__header h2 {
  font-family: var(--font--Lora);
  font-weight: 700;
  font-size: 24px;
}

.footer {
  position: absolute;
  left: 27%;
  bottom: 0;

  width: 100%;
  margin: 20px 0;
}

.nav__mobile {
  display: none;
}

@media(max-width: 501px) {
  body {
    position: relative;

    height: 100vh;
  }

  .header {
    padding: 0;
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .logo {
    width: 120px;
  }

  .logo a {
    text-align: center;
    font-size: 14px;
  }

  .nav__pc {
    display: none;
  }

  .open {
    display: block;
    font-size: 36px;

    cursor: pointer;
  }

  .container-nav__mobile.show-nav .open {
    display: none;
  }

  .container-nav__mobile.show-nav .close {
    display: block;

    font-size: 36px;

    position: absolute;
    right: 20px;
    top: 20px;

    cursor: pointer;
    z-index: 2;
  }

  .container-nav__mobile.show-nav .nav__mobile {
    display: block;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;


    background-color: #181719;
    z-index: 1;
  }

  .nav__mobile-list {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav__mobile-list li {
    list-style: none;
  }

  .nav__mobile-list li a {
    color: #fff;

    line-height: 50px;
    font-size: 36px;
  }

  .container__interior {
    display: flex;
    flex-direction: column;
  }

  .healing {
    font-weight: 400;
    font-size: 36px;
  }

  .text {
    font-size: 14px;
  }

  .text p {
    font-weight: 300;
    font-size: 14px;
  }

  .read-more {
    font-size: 12px;
  }

  .img__interior {
    width: 350px;
  }

  .img__interior img {
    width: 100%;
  }

  .rectangle {
    position: absolute;
    left: 15%;
    top: 90%;

    width: 280px;
    height: 138px;
  }

  .img__rectangle {
    width: 35px;
    height: 35px;
  }

  .img__rectangle img {
    width: 100%;
  }

  .name {
    font-size: 14px;
  }

  .role {
    font-size: 12px;
  }

  .rectangle__header h2 {
    font-size: 18px;
  }

  .footer {

    border-top: 2px solid #fff;
    width: 261px;
  }
}
